<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
  crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:700" rel="stylesheet" type="text/css">

<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="encounter.turn==-1" center>
      {{encounter.name}}
    </ion-title>
    <ion-title *ngIf="encounter.turn!=-1" center>
      Round: {{getRound()}}
    </ion-title>
    <ion-buttons end padding-right>
      <button (click)="restartEncounter()" ion-button icon-only>
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
    <button ion-item #slidingItem *ngFor="let member of encounterMembers$ | async, let i=index" (click)="selectHealth(member)"
      [class.highlight]="getTurnMember() == i">
      <ion-thumbnail item-left>
        <img *ngIf="member.group==null" src="assets/img/{{member.name}}.jpg">
        <img *ngIf="member.group!=null" [src]="charactersImgSrcs[member.key]">
      </ion-thumbnail>
      <h2 class="creature-heading">{{member.name}}</h2>
      <div>
        <p style="float: left; width: 40%; text-align: left;">
          <ion-icon style="float: left; text-align: left;" name="custom-health"></ion-icon><label style="float: left; text-align: left;">{{
            member.currentHealth}}/{{member.healthPoints }}</label>
        </p>
        <p style="float: left; width: 30%; text-align: center;">
          <ion-icon style="float: left; text-align: center;" name="custom-shield"></ion-icon><label style="float: left; text-align: center;">{{
            member.armorClass }}</label>
        </p>
        <p style="float: left; width: 30%; text-align: right;">
          <ion-icon style="float: left; text-align: center;" name="custom-dice"></ion-icon><label style="float: left; text-align: center;">{{
            initiatives[member.key] }}</label>
        </p>
      </div>
    </button>
  </ion-list>


  <ion-fab right bottom>
    <button (click)="combat()" ion-fab>
      <ion-icon name="custom-combat"></ion-icon>
    </button>
  </ion-fab>


</ion-content>