<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
  crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:700" rel="stylesheet" type="text/css">

<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title center>
      Nuovo Incontro
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
    <button ion-item *ngFor="let member of encounterMembers$ | async, let i=index" (click)="selectHealth(member)" [class.highlight]="getTurnMember() == i" >
      <ion-thumbnail item-left>
        <img *ngIf="member.group==null" src = "assets/img/{{member.name}}.jpg">
        <img *ngIf="member.group!=null" [src] = "charactersImgSrcs[member.key]">
      </ion-thumbnail>
      <h2 class="creature-heading">{{member.name}}</h2>
      <div class="myDiv">
        <p class= "myArmor"><ion-icon name="custom-shield"></ion-icon>{{ member.armorClass }}</p>
        <p item-right><ion-icon name="custom-health"></ion-icon>{{ member.currentHealth }} </p>
        <!-- <ion-icon name="custom-dice"></ion-icon>{{ initiatives[member.key] }} -->
      </div>
    </button>
  </ion-list>


  <ion-fab right bottom>
    <button (click)="combat()" ion-fab color="light">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  Turno:{{encounter.turn}} 

</ion-content>