<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title center>
      Nuovo Incontro
    </ion-title>
    <ion-buttons end>
      <button (click)="addEncounter(encounter)" ion-button icon-only>
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-item>
    <ion-label>
      Personaggi dei Giocatori:
    </ion-label>
    <ion-icon item-right name="add" (click)="pushToPlayerChoice()"></ion-icon>
  </ion-item>

  <ion-list padding-left no-lines>
    <ion-item *ngFor="let character of characterList$">
      {{character.name}}
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-label>
      Personaggi del Master:
    </ion-label>
    <ion-icon item-right name="add" (click)="pushToNPCChoice()"></ion-icon>
  </ion-item>

  <ion-list padding-left no-lines>
    <ion-item *ngFor="let character of npcList$">
      {{character.name}}
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-label>
      Mostri dal Manuale:
    </ion-label>
    <ion-icon item-right name="add" navPush="AddCharacterPage"></ion-icon>
  </ion-item>


  <ion-item>
    <ion-label stacked>Nome dell'Incontro</ion-label>
    <ion-textarea #myInputName id="myInputName" rows="1" maxLength="500" (input)="resizeName()" [(ngModel)]="encounter.name"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label stacked>Descrizione</ion-label>
    <ion-textarea #myInputDesc id="myInputDesc" rows="1" maxLength="500" (input)="resizeDesc()" [(ngModel)]="encounter.description"></ion-textarea>
  </ion-item>



  <button ion-button block clear (click)="addEncounter(encounter)">Add</button>
</ion-content>