.item ion-thumbnail {
    min-width: 5rem;    
    min-height: 5rem;
    img {
        width: 5rem;    
        height: 5rem;
    }
}

.challenge_rating{
    font-family: 'Nanum Gothic Coding', monospace; 
}

.creature-heading{
    font-family: 'Libre Baskerville', 'Lora', 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
    color: #922610;
    font-size: 23px;
    line-height: 1.2em;
    margin: 10px 0 0;
    letter-spacing: 1px;
    font-variant: small-caps;
    font-weight: bold;
  }


.myLabel1 {
    padding-left: 6.6rem;
}

.myLabel2 {
    padding-left: 5rem;
}

.searchbar-ios-cancel{
    margin-right: 0px !important;
    opacity: 1!important;
    padding-left: 10px !important;
}
.searchbar-md .searchbar-md-cancel{
    display: inline-flex !important;
    // background-color: white !important;
}
.searchbar-search-icon{
    display: none;
}