<ion-header>

  <ion-navbar>
    <ion-title>{{group.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <ion-item>
      <ion-label>
        Membri
      </ion-label>
      <ion-icon item-right name = "add" navPush="AddCharacterPage" [navParams]="{group: group}" ></ion-icon>
  </ion-item>

  <button ion-button (click)="presentPopover($event)"></button>

  <ion-list no-lines>

    <ion-item-sliding padding-left *ngFor="let character of charactersList$ | async" navPush="ViewCharacterPage" [navParams]="
    {character: character, group: group}" (press)="presentPopover($event)"><button ion-item>
      {{character.name}}
    </button>
  
    <ion-item-options>
      <button ion-button class="slidingButton" color="secondary">
        <ion-icon name="open"></ion-icon>
        Edit
      </button>
      <button ion-button class="slidingButton" color="dark">
        <ion-icon name="share-alt"></ion-icon>
        Export
      </button>
      <button ion-button class="slidingButton" color="danger">
        <ion-icon name="trash"></ion-icon>
        Remove
      </button>
</ion-item-options>
  
  </ion-item-sliding>
  </ion-list>

  <ion-item *ngIf="group.description != ''">
    <h2>Descrizione:</h2>
    <p text-wrap type="text" > {{group.description}} </p>
  </ion-item>


  <!-- {{group | json}} -->



</ion-content>