<ion-header no-border>

  <ion-navbar>
    <ion-title>{{group.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="content-total" padding>


  <ion-item>
      <ion-label>
        Membri
      </ion-label>
      <ion-icon item-right name = "add" navPush="AddCharacterPage" [navParams]="{group: group}" ></ion-icon>
  </ion-item>

  <ion-list list-color no-lines>

    <ion-item-sliding #slidingItem padding-left *ngFor="let character of charactersList$ | async" (press)="presentPopover($event, character)"><button ion-item navPush="ViewCharacterPage" [navParams]="
      {character: character, group: group}">
      {{character.name}}
    </button>
  
    <ion-item-options>
      <button ion-button class="slidingButton" color="secondary" (click)="pushToEditCharacter(character); slidingItem.close();">
        <ion-icon name="open"></ion-icon>
        Edit
      </button>
      <button ion-button *ngIf="group.players" class="slidingButton" color="dark" navPush="SelectPlayerGroupPage" [navParams]="{character: character}" (click)="slidingItem.close()">
        <ion-icon name="share-alt"></ion-icon>
        Export
      </button>
      <button ion-button *ngIf="!group.players" class="slidingButton" color="dark" navPush="SelectNpcGroupPage" [navParams]="{character: character}" (click)="slidingItem.close()">
        <ion-icon name="share-alt"></ion-icon>
        Export
      </button>
      <button ion-button class="slidingButton" color="danger" (click)="removeCharacter(character); slidingItem.close();">
        <ion-icon name="trash"></ion-icon>
        Remove
      </button>
</ion-item-options>
  
  </ion-item-sliding>
  </ion-list>

  <ion-item *ngIf="group.description != ''">
    <h2>Descrizione:</h2>
    <p text-wrap type="text" > {{group.description}} </p>
  </ion-item>


  <!-- {{group | json}} -->



</ion-content>