page-scelta-mostri {
    .chooseNumber {
        display: flex;

        h3 {
            padding-top: 0.4em;
        }

        
    }    

    .challenge_rating{
        font-family: 'Nanum Gothic Coding', monospace; 
    }
}
