<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
  crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:700" rel="stylesheet" type="text/css">

<ion-header no-border>

  <ion-navbar [hideBackButton]="isOn">

    <button *ngIf="!isOn" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!isOn">
      Mostri
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only padding *ngIf="!isOn" (click)="openSearchBar()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>

    <ion-searchbar debounce=0 #mainSearchBar *ngIf="isOn" placeholder="Cerca Mostro" (input)="onInput($event)" (search)="onSearch($event)"
      showCancelButton="true" (ionCancel)="isOn=false; searchString='' " (ionClear)="searchString=''"></ion-searchbar>

  </ion-navbar>
</ion-header>

<ion-content id="page4">


  <ion-item no-lines>
    <ion-label class="myLabel">Qt</ion-label>
    <ion-label class="myLabel1" (click)="nameClicked()">Nome
      <i *ngIf="alphaOrder==1" class="fas fa-sort-alpha-down"></i>
      <i *ngIf="alphaOrder==-1" class="fas fa-sort-alpha-up"></i>
    </ion-label>
    <ion-label item-right text-right class="myLabel2" (click)="gsClicked()">GS
      <i *ngIf="numOrder==1" class="fas fa-sort-numeric-down"></i>
      <i *ngIf="numOrder==-1" class="fas fa-sort-numeric-up"></i>
    </ion-label>
  </ion-item>

  <ion-list id="mostri-list5">

    <ng-container *ngFor="let monster of monsters">
      <button ion-item *ngIf="monster.name.toLowerCase().indexOf(searchString.toLowerCase()) >= 0 || !searchString"
        (click)="selectQuantity(monster)">
        <h3 class="counter" item-left >{{counters[monster.index]}}</h3>
        <ion-thumbnail item-left>
          <img src="assets/img/{{monster.name}}.jpg">
        </ion-thumbnail>
        <h3 class="challenge_rating" item-right>{{toFraction(monster.challenge_rating)}}</h3>
        <h2 class="creature-heading">{{monster.name}}</h2>
        <p>{{monster.size}}, {{monster.type}}, {{monster.alignment}} </p>
      </button>
    </ng-container>
  </ion-list>

  <ion-fab right bottom>
    <button (click)="confirmMonsters()" ion-fab >
      <ion-icon name="checkmark"></ion-icon>
    </button>
  </ion-fab>

</ion-content>