page-edit-character {
    .characterImg {
        display: block;
        height:256px;
        width:100%;
        height:auto;
        margin-left:auto;
        margin-right:auto;
        // margin-top: 20px;
        margin-bottom: 20px;
      }
      
      .imgDiv {
        position:relative;
    }
}
