<ion-header no-border>

  <ion-navbar>
    <ion-title>{{character?.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <div class="imgDiv">
        <img [src]="imgSrc" class="characterImg" (click)="pickAndCropImage();" />
        <ion-fab bottom right edge>
          <button ion-fab>
            <ion-icon name="camera"></ion-icon>
          </button>
        </ion-fab>
      </div>

    <ion-item>
      <ion-label floating>
        Nome:
      </ion-label>
      <ion-textarea #myInputName id="myInputName" rows="1" maxLength="500" (input)="resizeName()" [(ngModel)]="character.name"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label floating>
        Classe Armatura:
      </ion-label>
      <ion-input [(ngModel)]="character.armorClass"  type="number" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>
        Bonus di Iniziativa:
      </ion-label>
      <ion-input [(ngModel)]="character.initiativeModifier" type="number" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>
        Punti Salute totali
      </ion-label>
      <ion-input  [(ngModel)]="character.healthPoints" type="number" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>
        Punti Salute attuali
      </ion-label>
      <ion-input [(ngModel)]="character.currentHealth" type="number" (ionBlur)="checkCurrentHealth()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>
      
        Descrizione:
      </ion-label>
      <ion-textarea #myInputDesc id="myInputDesc" rows="1" maxLength="500" (input)="resizeDesc()" [(ngModel)]="character.description"></ion-textarea>
    </ion-item>
    <ion-fab bottom right>
        <button ion-fab *ngIf="getAutorization()" (click)="editCharacter()">
          <ion-icon name="checkmark"></ion-icon>
        </button>
      </ion-fab>
      <ion-fab bottom right>
        <button ion-fab disabled *ngIf="!getAutorization()">
          <ion-icon name="checkmark"></ion-icon>
        </button>
      </ion-fab>
  </ion-content>
  
