<!-- CARICARE IMMAGINE DA GALLERIA -->
<!-- TITOLO CENTRATO -->

<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title center>
      Nuovo Personaggio
    </ion-title>
    <ion-buttons end>
      <button (click)="addCharacter(character)" ion-button icon-only>
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content>
  <div class="imgDiv">
    <img [src]="imgSrc" class="characterImg" />
    <ion-fab bottom right edge>
      <button ion-fab (click)="pickAndCropImage();">
        <ion-icon name="camera"></ion-icon>
      </button>
    </ion-fab>
  </div>

  <ion-item>
    <ion-label floating class="labelStacked" stacked>
      <ion-icon name="custom-user"></ion-icon>
      Nome:
    </ion-label>
    <ion-textarea #myInputName id="myInputName" rows="1" maxLength="500" (input)="resizeName()" [(ngModel)]="character.name"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label floating>
      <ion-icon name="custom-shield"></ion-icon>
      Classe Armatura:
    </ion-label>
    <ion-input [(ngModel)]="character.armorClass" type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>
      <ion-icon name="custom-dice"></ion-icon>
      Bonus di Iniziativa:
    </ion-label>
    <ion-input [(ngModel)]="character.initiativeModifier" type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>
      <ion-icon name="custom-health"></ion-icon>
      Punti Salute:
    </ion-label>
    <ion-input [(ngModel)]="character.healthPoints" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating class="labelStacked">
      <ion-icon name="custom-text"></ion-icon>
      <!-- non so se metterci stacked o no-->
      Descrizione (facoltativo):
    </ion-label>
    <ion-textarea #myInputDesc id="myInputDesc" rows="1" maxLength="500" (input)="resizeDesc()" [(ngModel)]="character.description"></ion-textarea>
  </ion-item>

  <ion-fab bottom right>
    <button ion-fab *ngIf="getAuthorization()" (click)="addCharacter(character)">
      <ion-icon name="checkmark"></ion-icon>
    </button>
  </ion-fab>
  <ion-fab bottom right>
    <button ion-fab disabled *ngIf="!getAuthorization()">
      <ion-icon name="checkmark"></ion-icon>
    </button>
  </ion-fab>


</ion-content>