page-add-character {
    .characterImg {
        display: block;
        width:100%;
        height:auto;
        margin-left:auto;
        margin-right:auto;
        // margin-top: 20px;
        margin-bottom: 20px;
      }

      .labelStacked{
          font-size: 1em !important;
      }

      .imgDiv {
          position:relative;
      }

     
}
