
<ion-header no-border>

  <ion-navbar>
    <ion-title>Nuovo Gruppo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label floating>Nome:</ion-label>
    <ion-textarea #myInputName id="myInputName" rows="1" maxLength="500" (input)="resizeName()" [(ngModel)]="group.name" type="text" ></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label floating>Descrizione (facoltativa):</ion-label>
    <ion-textarea #myInputDesc id="myInputDesc" rows="1" maxLength="500" (input)="resizeDesc()" [(ngModel)]="group.description"></ion-textarea>
  </ion-item>

  <ion-fab bottom right>
      <button ion-fab *ngIf="getAuthorization()" (click)="addGroup(group)">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab bottom right>
      <button ion-fab disabled *ngIf="!getAuthorization()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-fab>
</ion-content>
